<ion-header>
  <ion-toolbar>
    <ion-title>
      Filtros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Algebra Linear</ion-label>
      <ion-toggle color="primary"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Metodologia Cientifica</ion-label>
      <ion-toggle color="secondary"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Projeto e Analise de Algoritimos</ion-label>
      <ion-toggle color="danger"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Metodologia de Projeto de Sistemas</ion-label>
      <ion-toggle color="light"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Bancos de Dados</ion-label>
      <ion-toggle color="dark"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>